@model BookStore.Model.Book

<div class="well">
    @if (Model.ImageData != null)
    {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" width="75" height="75"
                  src="@Url.Action("GetImage", "Books", new { Model.BookId })" />
        </div>
    }
    <div class="row">
        <div class="col-xs-8">
            <h3>
                <strong>@Model.Name</strong>
            </h3>
            <h4>
                <strong>@Model.Author</strong>
            </h4>
        </div>
        <div class="col-xs-2">
            <h3>
                <span id="price" class="pull-right label label-primary">@Model.Price.ToString("$#")</span>
            </h3>
            @using (Html.BeginForm("AddToCart", "Cart"))
            {
                <div class="pull-right">
                    @Html.HiddenFor(x => x.BookId)
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                    <input type="submit" class="btn btn-success" value="Add to cart" />
                </div>
            }
        </div>
    </div>
    <span class="lead">
        @Model.Description
    </span>
</div>
<hr />